Repository octopifriends/gfms-from-scratch.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-antipatterns, check-course-structure

Path conditions:
  check-antipatterns: any of: \.py$, but not: ^(LLMs-from-scratch/|_extensions/|\.claude/)
  check-course-structure: any of: ^book/.*\.(qmd|ipynb)$

Ran through whole website for Week 01
  Week_01_Complete.ipynb
Due: none

updated(docs): gdal config and simplification
  AUTHORING_GUIDE.md
  CLAUDE.md
  EMAIL_TO_HPC_ADMIN.md
  GDAL_PROJ_HPC_TROUBLESHOOTING.md
  HPC_ADMIN_KERNEL_SETUP.md
  HPC_QUICKSTART.md
  KERNEL_CONFIG_QUICK_REF.md
  README.md
  SEND_TO_ADMIN_README.md
  book/chapters/c01-geospatial-data-foundations-CLEAN.qmd
  docs/chapters/c01-geospatial-data-foundations-CLEAN.html
  docs/chapters/c01-geospatial-data-foundations-CLEAN_files/figure-html/cell-33-output-2.png
  docs/chapters/c01-geospatial-data-foundations-CLEAN_files/figure-html/cell-34-output-2.png
  docs/chapters/c01-geospatial-data-foundations-CLEAN_files/figure-html/cell-36-output-1.png
  docs/chapters/c01-geospatial-data-foundations-CLEAN_files/figure-html/cell-36-output-3.png
  docs/chapters/c01-geospatial-data-foundations.html
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-34-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-36-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-36-output-3.png
  docs/search.json
  docs/sitemap.xml
  geogfm/c01.py
  scripts/diagnose_gdal_hpc.py
Due: check-antipatterns, check-course-structure

updated(docs): gdal config and simplification
  EMAIL_TO_HPC_ADMIN.md
  GDAL_PROJ_HPC_TROUBLESHOOTING.md
  HPC_ADMIN_KERNEL_SETUP.md
  HPC_QUICKSTART.md
  KERNEL_CONFIG_QUICK_REF.md
  PRE_COMMIT_QUICK_START.md
  SEND_TO_ADMIN_README.md
  cloud_masking_fix_report.md
Due: none

updated(docs): gdal config and simplification
  book/chapters/c01-geospatial-data-foundations-OLD.qmd
  book/chapters/c01-geospatial-data-foundations.qmd
  docs/chapters/c01-geospatial-data-foundations-OLD.html
  docs/chapters/c01-geospatial-data-foundations-OLD_files/figure-html/cell-33-output-2.png
  docs/chapters/c01-geospatial-data-foundations-OLD_files/figure-html/cell-34-output-2.png
  docs/chapters/c01-geospatial-data-foundations-OLD_files/figure-html/cell-35-output-1.png
  docs/chapters/c01-geospatial-data-foundations-OLD_files/figure-html/cell-35-output-3.png
  docs/chapters/c01-geospatial-data-foundations.html
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-35-output-1.png
  docs/extras/ai-ml-dl-fm-hierarchy.html
  docs/extras/geospatial-foundation-model-predictions-standalone.html
  docs/extras/geospatial-foundation-model-predictions.html
  docs/search.json
  docs/site_libs/quarto-diagram/mermaid-init.js
  docs/site_libs/quarto-diagram/mermaid.css
  docs/site_libs/quarto-diagram/mermaid.min.js
  docs/sitemap.xml
  geogfm/c01.py
  geogfm/core/__init__.py
  geogfm/core/registry.py
  geogfm/inference/__init__.py
  geogfm/inference/sliding_window.py
  geogfm/inference/tiling.py
  geogfm/interoperability/__init__.py
  geogfm/interoperability/huggingface.py
  geogfm/tasks/__init__.py
  geogfm/tasks/classification.py
  geogfm/tasks/segmentation.py
Due: check-antipatterns, check-course-structure

updated(docs): gdal config and simplification
  book/chapters/c01-geospatial-data-foundations.qmd
  docs/chapters/c01-geospatial-data-foundations.html
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-10-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-11-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-13-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-16-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-22-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-23-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-24-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-25-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-25-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-25-output-3.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-25-output-4.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-26-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-26-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-26-output-3.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-26-output-4.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-27-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-27-output-3.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-32-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-33-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-34-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-35-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-35-output-2.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-36-output-1.png
  docs/chapters/c01-geospatial-data-foundations_files/figure-html/cell-36-output-3.png
  docs/search.json
  docs/sitemap.xml
  geogfm/c01.py
Due: check-antipatterns, check-course-structure

update(server): new nbs/Week_01_Server.ipynb file to demonstrate code function
  nbs/Week_01_Server.ipynb
Due: none

updated(docs): Week 02/03 code is complete'
  book/chapters/c02-spatial-temporal-attention-mechanisms.qmd
  book/extras/resources/spatial-alignment-strategies.md
  docs/chapters/c02-spatial-temporal-attention-mechanisms.html
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-17-output-1.png
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-19-output-2.png
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-21-output-2.png
  docs/extras/resources/spatial-alignment-strategies.md
  docs/search.json
  docs/sitemap.xml
  geogfm/c01.py
  geogfm/c02.py
  geogfm/core/__init__.py
  geogfm/core/registry.py
  geogfm/inference/__init__.py
  geogfm/inference/sliding_window.py
  geogfm/inference/tiling.py
  geogfm/interoperability/__init__.py
  geogfm/interoperability/huggingface.py
  geogfm/tasks/__init__.py
  geogfm/tasks/classification.py
  geogfm/tasks/segmentation.py
Due: check-antipatterns, check-course-structure

updated(docs): Week 02/03 code is complete'
  book/chapters/c02-spatial-temporal-attention-mechanisms.qmd
  docs/chapters/c02-spatial-temporal-attention-mechanisms.html
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-11-output-2.png
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-13-output-2.png
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-9-output-1.png
  docs/search.json
  docs/sitemap.xml
  geogfm/c02.py
Due: check-antipatterns, check-course-structure

updated(docs): bulding html for spatial alignment strategies'
  book/extras/resources/spatial-alignment-strategies.qmd
  docs/extras/resources/spatial-alignment-strategies.html
  docs/search.json
  docs/sitemap.xml
Due: check-course-structure

updated(docs): added model zoo'
  book/extras/cheatsheets/terratorch_model_zoo.qmd
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/bootstrap/bootstrap-icons.css
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/bootstrap/bootstrap-icons.woff
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/bootstrap/bootstrap.min.css
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/bootstrap/bootstrap.min.js
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/clipboard/clipboard.min.js
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/quarto-html/anchor.min.js
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/quarto-html/popper.min.js
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/quarto-html/quarto-syntax-highlighting.css
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/quarto-html/quarto.js
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/quarto-html/tippy.css
  book/extras/cheatsheets/terratorch_model_zoo_files/libs/quarto-html/tippy.umd.min.js
  docs/extras/cheatsheets/terratorch_model_zoo.html
  docs/search.json
  docs/sitemap.xml
Due: check-course-structure

updated(docs): added model zoo'
  book/cheatsheets.qmd
Due: check-course-structure

updated(docs): added model zoo'
  book/chapters/c03-terratorch-foundations.qmd
  book/cheatsheets.qmd
  book/extras/cheatsheets/modular_gfm_architecture.qmd
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-11-output-2.png
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-13-output-2.png
  docs/chapters/c02-spatial-temporal-attention-mechanisms_files/figure-html/cell-9-output-1.png
  docs/cheatsheets.html
  docs/extras/ai-ml-dl-fm-hierarchy.html
  docs/extras/cheatsheets/modular_gfm_architecture.html
  docs/extras/geospatial-foundation-model-predictions-standalone.html
  docs/extras/geospatial-foundation-model-predictions.html
  docs/search.json
  docs/sitemap.xml
  geogfm/c01.py
  geogfm/c02.py
  geogfm/core/__init__.py
  geogfm/core/registry.py
  geogfm/inference/__init__.py
  geogfm/inference/sliding_window.py
  geogfm/inference/tiling.py
  geogfm/interoperability/__init__.py
  geogfm/interoperability/huggingface.py
  geogfm/tasks/__init__.py
  geogfm/tasks/classification.py
  geogfm/tasks/segmentation.py
Due: check-antipatterns, check-course-structure

updated(docs): added model zoo'
  book/chapters/c03-terratorch-foundations.qmd
  docs/cheatsheets.html
  docs/search.json
  docs/sitemap.xml
Due: check-course-structure

updated(docs): added model zoo'
  book/extras/cheatsheets/modular_gfm_architecture.qmd
  docs/extras/cheatsheets/modular_gfm_architecture.html
  docs/search.json
  docs/sitemap.xml
Due: check-course-structure

updated .gitignore
  .gitignore
Due: none

remove data folder
  .gitignore
  book/c03b-terratorch-foundations.qmd
  book/chapters/c03a-terratorch-foundations copy.qmd.backup
  book/chapters/c03a-terratorch-foundations.qmd
  book/extras/examples/generic_gfm_workflows.quarto_ipynb
  docs/.DS_Store
  docs/chapters/c03a-terratorch-foundations.html
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-11-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-12-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-13-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-14-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-15-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-18-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-20-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-4-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-8-output-1.png
  docs/search.json
  docs/sitemap.xml
  generic_gfm_workflows_backup.qmd
  geogfm/c03.py
  geogfm/training/eurosat_utils.py
  geogfm/training/simple_trainer.py
  geogfm/utils/terratorch_utils.py
Due: check-antipatterns, check-course-structure

update ch03
  book/chapters/c03a-terratorch-foundations.qmd
  docs/chapters/c03a-terratorch-foundations.html
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-11-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-15-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-18-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-19-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-20-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-22-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-24-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-4-output-1.png
  docs/search.json
  docs/sitemap.xml
  geogfm/training/eurosat_utils.py
  geogfm/training/simple_trainer.py
Due: check-antipatterns, check-course-structure

update ch03
  book/chapters/c03a-terratorch-foundations copy.qmd.backup2
  docs/chapters/c03a-terratorch-foundations.html
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-10-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-15-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-19-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-20-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-22-output-2.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-24-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-4-output-1.png
  docs/chapters/c03a-terratorch-foundations_files/figure-html/cell-4-output-2.png
  docs/search.json
  docs/sitemap.xml
  geogfm/training/eurosat_utils.py
  geogfm/training/simple_trainer.py
Due: check-antipatterns

Add books
  WEEK2.ipynb
  WEEK3.ipynb
  Week_01_Complete.ipynb
  Z_MYPROJECT_W2.ipynb
  geogfm/c01.py
Due: check-antipatterns
